* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.76);
  font-family: "Roboto Slab";
}

.boton{
color:#c72c41;
}
.boton:hover{
  color:#801336;
}
body {
  background:linear-gradient(0deg,#801336,#22010c);
  margin-top: 6em;
}


.seccion-destacado {
  max-width: 70vw;
  margin: auto;
  margin-top: 20px;
}
#card-destacado {
  background-color: #2d132c;
  border-radius: 20px;
}
#img-destacado {
  border-radius: 20px;
  max-height: 400px;
}

#ver-mas-btn {
  background:linear-gradient(0deg,#801336,#22010c);
  padding:1em 4em ;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}
.fondo{
  padding: 2em;
}
.card-body {
  color: white;
}
#categorias-barra {
  width: 70vw;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
#nav-categorias {
  border-radius: 10px;
}
.navbar-brand {
  color: white;
}
.categorias h2 {
  padding-top: 50px;
}
/*carusel style*/
#seccion-categorias {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#texto-categorias {
  color: #fff;
  margin-left: 15px;
}
#seccion-categorias h4,
h2,
small,
a {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: 0;
}


.footer_juegos {
  background: linear-gradient(to bottom, #2d132c, #050308);
  padding: 1em;
}
.footer_redes {
  font-size: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
}
.footer_redes a {
  text-decoration: none;
  border-radius: 50%;
  width: 2em;
  transition: 0.5s;
}
.footer_redes a:hover {
  box-shadow: 0px 0px 15px 7px #c72c41;
  color: #ee4540;
  transition: 0.5s;
}
.icon:hover {
  text-shadow: 0px 0px 15px #c72c41;
  color: #ee4540;
  transition: 0.1s;
}
.icon:hover::before {
  transform: scale(1.4);
  transition: 0.3s;
}

.icon {
  border-radius: 50%;
  margin: auto;
}
@media (max-width: 1000px) {
  #ver-mas-btn {
    width: 15em;
    padding: .5em;
  }
  .fondo{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .footer_redes {
    font-size: 1.5em;
  }

  .footer_redes a:hover {
    box-shadow: none;
  }
  #ver-mas-btn {
    width: 15em;
    padding: .5em;
  }
  .fondo{
    display: flex;
    justify-content: center;
  }
}



