* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.76);
  font-family: "Roboto Slab";
}

.boton{
color:#c72c41;
}
.boton:hover{
  color:#801336;
}
body {
  background:linear-gradient(0deg,#801336,#22010c);
  margin-top: 6em;
}

.nav-bar {
  height: 100px;
  background-color: #2d132c;
}

.seccion-destacado {
  max-width: 70vw;
  margin: auto;
  margin-top: 20px;
}
#card-destacado {
  background-color: #2d132c;
  border-radius: 20px;
}
#img-destacado {
  border-radius: 20px;
  max-height: 400px;
}
#ver-mas-btn {
  background:linear-gradient(0deg,#801336,#22010c);
  padding:1em 4em ;
  border-radius: 5em;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 20em;
}
.fondo{
  padding: 2em;
}
.card-body {
  color: white;
}

#categorias-barra {
  width: 70vw;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}
#nav-categorias {
  border-radius: 10px;
}
.navbar-brand {
  color: white;
}
.categorias h2 {
  padding-top: 50px;
}
/*carusel style*/
#seccion-categorias {
  margin: auto;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#texto-categorias {
  color: #fff;
  margin-left: 15px;
}
#seccion-categorias h4,
h2,
small,
a {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: 0;
}

/*carusel*/
/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor {
  margin: auto;
  width: 88%;
}
.contenedor-titulo-controles {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.contenedor-titulo-controles h3 {
  color: #fff;
  font-size: 30px;
  margin-top: 10px;
}

.contenedor-titulo-controles .indicadores button {
  background: #fff;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
  background: rgb(199, 44, 65);
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.categorias {
  margin-bottom: 70px;
}

.categorias .contenedor-principal {
  display: flex;
  align-items: center;
  position: relative;
}

.categorias .contenedor-principal .flecha-izquierda,
.categorias .contenedor-principal .flecha-derecha {
  position: absolute;
  border: none;
  background: rgba(199, 44, 65, 0.5);
  font-size: 40px;
  height: 20%;
  top: calc(65% - 25%);
  line-height: 40px;
  width: 40px;
  border-radius: 20px;
  color: rgb(45, 19, 44);
  cursor: pointer;
  z-index: 500;
  transition: 0.2s ease all;
}

.categorias .contenedor-principal .flecha-izquierda:hover,
.categorias .contenedor-principal .flecha-derecha:hover {
  background: #fff;
}

.categorias .contenedor-principal .flecha-izquierda {
  left: 0;
}

.categorias .contenedor-principal .flecha-derecha {
  right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.categorias .contenedor-carousel {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
}

.juego {
  min-height: 250px;
  margin: 10px;
  min-width: 18%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.juego:hover {
  transform: scale(1.1);
  transform-origin: center;
}

.juego .card-body {
  margin: auto;
  height: 10%;
}
.juego .card-body .card-title {
  padding: 0;
  font-size: 20px;
  color: #2d132c;
}

.juego img {
  width: 100%;
  height: 80%;
  vertical-align: top;
}

@media (max-width: 1000px) {
  #ver-mas-btn {
    width: 15em;
    padding: .5em;
  }
  .fondo{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {

  #ver-mas-btn {
    width: 15em;
    padding: .5em;
  }
  .fondo{
    display: flex;
    justify-content: center;
  }
}




/*     ------------------------------------------- */
